DISCORD_CLIENT_ID=your_bot_application_client_id
DISCORD_CLIENT_SECRET=your_bot_application_client_secret

SESSION_SECRET=generate_a_long_random_string_here

BOT_API_URL=http://23.134.124.183:25567
BOT_API_SECRET=must_match_DASHBOARD_API_SECRET_on_the_bot
