DISCORD_CLIENT_ID=1541574404717285417
DISCORD_CLIENT_SECRET=ptedXoWAFQU_2l_nMA6myZ7EmdwZf8_Z

SESSION_SECRET=generate_a_long_random_string_here

BOT_API_URL=http://23.134.124.183:2333
BOT_API_SECRET=must_match_DASHBOARD_API_SECRET_on_the_bot
